body {
    display: flex;
}

.left {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.right {
    width: 400px;
    height: 400px;
    background-color: red;
}

a.button {
    display: block;
    text-align: center;
    padding-top: 65px;
    height: 100px;
    width: 100px;
    font-size: 15px;
    background-color: green;

}