body {}

.left {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background-color: blue;
}

.right {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    background-color: red;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 40px;
    height: 100px;
    width: 100px;
    font-size: 15px;
    background-color: green;

}